@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #90c21b;
    --secondary-color: #ffffff;

    /* vneet added color */
    --form-color: #d9d7d7;
    /* vneet added color ends */
}

/* customer bootstrap css */
.btn-success {
    background-color: var(--primary-color) !important;
    border: none !important;
}

/* 
1. Body section
2. header section
3. Hero section 



*/

/* body section */
.body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* header section */
.navbar-brand {
    width: 65% !important;
}

.nav-link {
    color: var(--primary-color) !important;
}

/* header section ends */

/* hero section */
.hero-section {
    background-image: url('https://source.unsplash.com/1xTulJUOg9A');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.hero-section .text p {
    font-size: 25px;
    font-weight: 300;
}

.form-area .card {
    background-color: var(--form-color);
    border-radius: 0;
}

.form-area .card label {
    font-weight: 700;
    font-size: 12px;
}

.form-area .card input::placeholder {
    font-size: 12px;
    font-weight: 500;
}


.form-area .card input {
    margin: 10px 0px;
    border: none;
}

.form-area .card .input-2 input {
    margin: 3px 0px;

}

.form-area .card .input-group-text {
    background-color: rgb(255, 255, 255);
    height: 39px;
    margin: 9px 0px;

}

.radio-button {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
    cursor: pointer;
}

.radio-button input {
    display: none;
}

.radio-icon {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #aaa;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.fa-male:before {
    font-size: 25px;
}

.fa-female:before {
    font-size: 25px;
}

.radio-button input:checked+.radio-icon {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}


/* hero section ends */

/* client section */
.client-section {
    margin: 20px 0px;
}

.client-section .logos img {
    width: 70%;
    /* Set the width to 25% to make all logos equal in size */
    height: auto;
    aspect-ratio: 3/2;
    mix-blend-mode: hard-light;
    object-fit: contain;
}

/* client section ends */

/* feature section */
.feature-section .title-1 {
    color: var(--primary-color);
}

.feature-section .title-1 h2 {
    width: 247px;
}

.feature-section .title-2 h2 {
    color: #207dac;
}

.feature-content {
    position: relative;
}

.feature-content .image {
    position: relative;
}

.feature-content .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    background: rgb(144, 194, 27);
    background: linear-gradient(165deg, rgba(144, 194, 27, 1) 0%, rgba(144, 194, 27, 1) 19%, rgba(80, 202, 128, 0) 55%, rgba(43, 207, 187, 0) 76%, rgba(0, 212, 255, 0) 100%);
    z-index: 1;
}

.feature-content img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 0px 50px 50px 0px;
    z-index: 2;
}

.feature-section>div.container-fluid.feature-content>div {
    width: 100%;
}

.feature-section>div.container-fluid.feature-content>div>div:nth-child(2)>div .col-lg-6 {
    padding: 22px 125px 0px 0px;
}

/* feature section ends */

/* client */
.client-title{
    margin-bottom: 100px;
}
/* client title */


/* image row section */
.image-container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* image row section ends */


/* jumbotron   */
.jumbotron-title {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 'bold';
}

.jumbotron-section{
    background-color: #ddd;
}

.jumbotron-button{
    width: 350px;
}

/* jumbotron ends */


/* footer  */
footer {
    background-color: #006ca1;
    color: #fff;
}



/* footer ends */